p {
    line-height: 1.6;
}
a {
    color: #c4c4c4;
}
.a:hover {
    color: #d00000;
}
body {
    font-family: "Inter", "Roboto", "Montserrat", "Arial", sans-serif;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    background-color: #202020;
    color: #c4c4c4;
}
h1 {
    font-weight: bold;
    color: #dadada;
    margin-top: 1.0cm;
}
.navbar {
    overflow: hidden;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem 0;
}
.navbar .title {
    font-size: 2rem;
}
.navbar .title:hover {
    color: #4fc0ff;
}
.navbar a {
    color: white;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    margin-right: 2rem;
}
.navbar a:last-child {
    margin-right: 0;
}
.navbar a:hover {
    color: #d00000;
}
.container {
    margin: 0 auto 8rem;
    padding: 0 10px;
}
@media (min-width: 768px) {
    .container {
        width: 60%;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 40%;
    }
}
